@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0.9rem;
    background-color: #121212;
}
input::placeholder {
    border: none;
}
